<h1><%= @sub.title %></h1>

<table>
  <tr>
    <td>SubTitle</td>
    <td>Description</td>
    <td>Moderator</td>
  </tr>
  <tr>
    <td><%= @sub.title %></td>
    <td><%= @sub.description %></td>
    <td><%= @sub.moderator.username %></td>
  </tr>
</table>

<% if current_user.is_moderator?(@sub) %>
  <%= link_to "Edit this sub!", edit_sub_url(@sub)%>
<% end %>
<%= link_to "All subs", subs_url %>
