<% method = post.persisted? ? "patch" : "post" %>
<% button_text = post.persisted? ? "Update post" : "Create post" %>
<% path = post.persisted? ? post_url(post) : posts_url %>

<form action="<%= path %>" method="post">
  <input type="hidden" name="_method" value="<%= method %>">
  <%= form_auth_token %>

    <label>Title
      <input type="text" name="post[title]" value="<%= post.title %>">
    </label>
    <br>
    <label>Content
      <textarea rows="5" cols="40" name="post[content]"><%= post.content %></textarea>
    </label>
    <br>
    <input type="hidden" name="post[sub_ids][]" value="">
    <% Sub.all.each do |sub| %>
      <label>
        <input
          type="checkbox"
          name="post[sub_ids][]"
          value="<%= sub.id  %>"
          <%= "checked" if post.sub_ids.include?(sub.id) %>>
        <%= sub.title %>
      </label>
      <br>
    <% end %>
  <input type="submit" value="<%= button_text %>">
</form>
