<h1> <%= @post.title %></h1>
  <p>
  <%= @post.url %>
  </p>
  <p><%= @post.content %></p>
  <p>Author: <%= h(@post.author.username) %></p>

  <% if current_user.is_author?(@post) %>
    <%= link_to "Edit this post", edit_post_url(@post) %>
  <% end %>
  <br>

  <%= link_to "Post reply", new_post_comment_url(@post.id) %>
  <br>

  <h3>Comments on this Post</h3>
  <ul>
  <% @post.comments.where("parent_comment_id IS NULL").each do |comment| %>
    <li>
      <%= render partial: "comment", locals: { comment: comment } %>
    </li>
  <% end %>
</ul>

  <% post_subs = @post.post_subs.includes(:sub) %>
  <br>
  <ul>
    <%  post_subs.each do |post_sub| %>
      <% sub = post_sub.sub %>
      <li><%= link_to sub.title, sub_url(sub) %></li>
    <% end %>
</ul>
