<!DOCTYPE html>
<html>
<head>
  <title>Reddit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>
  <% if current_user %>
    <form action="<%= session_url %>" method="post">
      <%= form_auth_token %>

      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="logout">

    </form>
  <% else %>
    <%= link_to "Log In", new_session_url %>
    <%= link_to "Sign Up", new_user_url %>
  <% end %>
</h1>

<%= yield %>

</body>
</html>
